# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
C:/Users/kapur/Desktop/CS-grind-time/goldmannSachsCodingRound/**
C:/Users/kapur/Desktop/CS-grind-time/out/**
